# **Blood Glucose Readings for Analysis**

This program automates the manual process of converting an Excel sheet of blood glucose readings formatted for easy data entry into a CSV file formatted for data visualization in Tableau.

Run on Python 3.12 | No errors | No warnings

In [28]:
# Import packages

# For data manipulation
import numpy as np
import pandas as pd

import warnings

# for displaying and modifying the working directory
import os as os

In [29]:
# Load dataset into dataframe and verify

# Tell python where to find the datasets and load them to dataframes
os.chdir(r'D:\OneDrive\Documents\Excel') # absolute path, using \ and r prefix

# Suppress the warning about conditional formatting
warnings.filterwarnings("ignore", category=UserWarning, module='openpyxl')

In [30]:
# Load AM readings into dataframe df0, load Value AM as integer
df0 = pd.read_excel("Blood Glucose Readings.xlsx", sheet_name="Readings", usecols=['Date', 'Time AM', 'Value AM'])

In [31]:
# Display the first 5 rows of the dataframe (df0)
df0.head()

        Date   Time AM  Value AM
0 2023-01-24  06:35:00       278
1 2023-01-25  06:15:00       266
2 2023-01-26  06:29:00       237
3 2023-01-27  06:22:00       302
4 2023-01-28  07:30:00       256

In [32]:
# Display basic information about the data 
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558 entries, 0 to 557
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      558 non-null    datetime64[ns]
 1   Time AM   558 non-null    object
 2   Value AM  558 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 13.2+ KB

In [33]:
# Combine the Date and Time AM columns into a single column titled DateTime
df0['DateTime'] = df0['Date'].astype(str) + ' ' + df0['Time AM'].astype(str)

In [34]:
# Rename columns
df0.rename(columns={'Time AM': 'Time', 'Value AM': 'Value'}, inplace=True)

In [35]:
# Verify the changes
df0.head()

        Date      Time  Value             DateTime
0 2023-01-24  06:35:00    278  2023-01-24 06:35:00
1 2023-01-25  06:15:00    266  2023-01-25 06:15:00
2 2023-01-26  06:29:00    237  2023-01-26 06:29:00
3 2023-01-27  06:22:00    302  2023-01-27 06:22:00
4 2023-01-28  07:30:00    256  2023-01-28 07:30:00

In [36]:
# Load PM readings into dataframe df1, load Value PM as integer
df1 = pd.read_excel("Blood Glucose Readings.xlsx", sheet_name="Readings", usecols=['Date', 'Time PM', 'Value PM'])

In [37]:
# Display the first 5 rows of the dataframe (df1)
df1.head()

        Date   Time PM  Value PM
0 2023-01-24  20:35:00     412.0
1 2023-01-25  20:35:00     359.0
2 2023-01-26  21:31:00     305.0
3 2023-01-27  20:24:00     257.0
4 2023-01-28  20:35:00     379.0

In [38]:
# Display basic information about the data 
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558 entries, 0 to 557
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      558 non-null    datetime64[ns]
 1   Time PM   557 non-null    object
 2   Value PM  557 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 13.2+ KB

In [39]:
# Combine the Date and Time PM columns into a single column titled DateTime
df1['DateTime'] = df1['Date'].astype(str) + ' ' + df1['Time PM'].astype(str)

In [40]:
# Rename columns
df1.rename(columns={'Time PM': 'Time', 'Value PM': 'Value'}, inplace=True)

In [41]:
# Verify the changes
df1.head()

        Date      Time  Value             DateTime
0 2023-01-24  20:35:00  412.0  2023-01-24 20:35:00
1 2023-01-25  20:35:00  359.0  2023-01-25 20:35:00
2 2023-01-26  21:31:00  305.0  2023-01-26 21:31:00
3 2023-01-27  20:24:00  257.0  2023-01-27 20:24:00
4 2023-01-28  20:35:00  379.0  2023-01-28 20:35:00

In [42]:
# Combine dataframes df0 and df1
df2 = pd.concat([df0, df1], ignore_index=True)

In [43]:
# Display basic information about the data 
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1116 entries, 0 to 1115
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      1116 non-null   datetime64[ns]
 1   Time      1115 non-null   object
 2   Value     1115 non-null   float64
 3   DateTime  1116 non-null   object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 35.0+ KB

In [44]:
# Create a column for Treatment
df2['Date'] = pd.to_datetime(df2['Date'])

conditions = [
    (df2['Date'] > '2024-06-18'),
    (df2['Date'] > '2024-01-30'),
    (df2['Date'] > '2023-07-18'),
    (df2['Date'] > '2023-02-28'),
    (df2['Date'] > '2023-01-31')
]

choices = [
    'Mounjaro 12.5',
    'Mounjaro 10',
    'Mounjaro 7.5',
    'Mounjaro 5',
    'Mounjaro 2.5'
]

df2['Treatment'] = np.select(conditions, choices, default='Untreated')

In [45]:
# Verify the changes
df2.head()

        Date      Time  Value             DateTime  Treatment
0 2023-01-24  06:35:00  278.0  2023-01-24 06:35:00  Untreated
1 2023-01-25  06:15:00  266.0  2023-01-25 06:15:00  Untreated
2 2023-01-26  06:29:00  237.0  2023-01-26 06:29:00  Untreated
3 2023-01-27  06:22:00  302.0  2023-01-27 06:22:00  Untreated
4 2023-01-28  07:30:00  256.0  2023-01-28 07:30:00  Untreated

In [46]:
# Rorder the columns
df2 = df2[['Date', 'Time', 'DateTime', 'Value', 'Treatment']]

In [47]:
# Sort the data by Date and Time
df2 = df2.sort_values(by=['Date', 'Time'])

In [48]:
# Drop rows with missing values
df2 = df2.dropna()

In [49]:
# Convert Time to datetime format
df2['Time'] = pd.to_datetime(df2['Time'], format='%H:%M:%S').dt.time

In [50]:
# Convert Time to AM/PM format
df2['Time'] = df2['Time'].apply(lambda x: x.strftime('%I:%M %p') if pd.notnull(x) else '')

In [51]:
# Value should have no decimal places
df2['Value'] = df2['Value'].astype(int)

In [52]:
# Reindex the dataframe
df2.reset_index(drop=True, inplace=True)

In [53]:
# Verify the changes
df2.head()

        Date      Time             DateTime  Value  Treatment
0 2023-01-24  06:35 AM  2023-01-24 06:35:00    278  Untreated
1 2023-01-24  08:35 PM  2023-01-24 20:35:00    412  Untreated
2 2023-01-25  06:15 AM  2023-01-25 06:15:00    266  Untreated
3 2023-01-25  08:35 PM  2023-01-25 20:35:00    359  Untreated
4 2023-01-26  06:29 AM  2023-01-26 06:29:00    237  Untreated

In [54]:
# Save the dataframe to a csv file
df2.to_csv('Blood Glucose readings for Analysis.csv', index=False)